<% include ../common/header.ejs %>
<div class="container">
<div id="talkBox">

</div>
<form id="form">
	<label>
		<span>内容</span>
		<textarea id="content" "></textarea>
	</label>
	<button type="submit" value="提交">提交</button>
</form>
</div>
<% include ../common/footer.ejs %>
