<section class="col-md-2">
    <dl class="slider kindBox" id="kindBox">
        <dt>文章分类</dt>
    </dl>
    
    <dl class="slider talkBox" id="lastTalk">
        <dt>最新评论</dt>
    </dl>
</section>   
