<!DOCTYPE html>
<html>
<head>
<title>upopen-check</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="assets/module/index/index.css" />
<meta charset="UTF-8" />
</head>
<body>
<section class="topbar">
	<input type="text" class="host" spellcheck="false" />
</section>
<div class="wrapper">
</div>
<catalog id="animateTest">
    <h3>CATALOG!!</h3>
    <p class="catalog"></p>
</catalog>
<mask></mask>
<script src="assets/core/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/module/index/index.js"></script>
</body>
</html>
