<!DOCTYPE html>
<html>
<head>
<title>upopen-check</title>
<meta charset="UTF-8" />
</head>
<body>
<div id="content" class="content">

</div>
<script src="assets/core/js/react.js"></script>
<script src="assets/core/js/JSXTransformer.js"></script>
<script src="assets/core/js/react-dom.js"></script>
<script src="assets/core/js/jquery.min.js"></script>
<script type="text/jsx" src="assets/index.js"></script>
</body>
</html>
