<% include ../../common/header.ejs %>
<section class="col-md-10" id="articleInfo">
<!--link href="<%= basePath %>/core/css/markdown.css" type="text/css" rel="stylesheet" -->
    <h1 id="title" class="articleInfo_title">2</h1>
	<div class="clearfix">
		<span id="date" class="articleInfo_date">2015-09-02</span>
		<span id="kind" class="articleInfo_kind">nodejs</span>
		<span id="author" class="articleInfo_author">2</span>
	</div>
	<div id="content" class="articleInfo_content clearfix markdown"><p>是否对你承诺了太多  </p>
<h1 id="-">还是我原本给的就不够</h1>
<h2 id="4-5">4 &lt; 5</h2>
<h3 id="-">你始终有千万种理</h3>
<h3 id="-">由我一直跟随你的感受</h3>
<p>&copy;</p>
<p>&lt;ul&gt;</p>
<p>&lt;li&gt;##aaa&lt;/li&gt;
&lt;/ul&gt;
&lt;img src=&quot;https://qjdchina.com/public/imgs/logo.png&quot;&gt;
<img src="https://qjdchina.com/public/imgs/logo.png" alt="Alt text"></p>
<ul>
<li>记得你的眼睛真会亮着   </li>
<li>谁说世界早已没有选择哦  </li>
</ul>
<ol>
<li>我会喜怒你会我<br>2. 我们还活着  </li>
</ol>
<p><a href="http://example.com/">http://example.com/</a></p>
<hr>
<pre><code>看着天，我又回到那老街，靠在你们身边，渐行渐远
</code></pre><hr>
<ul>
<li><p>我看*</p>
<p><strong> 着 </strong> </p>
</li>
</ul>
<p><em>眼</em></p>
<p><strong>泪突</strong></p>
<h2 id="-">然被引爆，这叫做心灵感召</h2>
<p>This is <a href="http://example.com/" title="Title">an example</a> inline link.</p>
<p><a href="http://example.net/">This link</a> has no title attribute.</p>
<pre><code>`&lt;div&gt;afd&lt;a&gt;aa&lt;/a&gt;

&lt;/div&gt;`
</code></pre><p><code>asdfasdf</code>
<code>asfasdf</code></p>
<pre><code>| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |
</code></pre></div>
    <div id="talkBox" class="talkBox">
        共收到<tt id="talkAmount">0</tt>条回11复：
    </div>
    <form id="talkBoxForm">
        <label>
	        <textarea id="talkcontent" placeHolder="评论内容200字" maxLength="200" style="width: 700px;padding: 10px" rows="5"></textarea>
        </label>
        <button type="submit" value="提交" style="width: 100px;height: 30px; margin: 20px 300px;">提交</button>
    </form>
</section>
<% include ../../common/kind.ejs %>
<% include ../../common/footer.ejs %>
