<!DOCTYPE html>
<html>
<head>
</head>
<body>

<script type="text/javascript" src="<%= basePath %>/core/jquery.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/jquery.cookies.min.js"></script>

<script>
$.ajax({
	url: 'http://service.qjdchina.com:3001/demo',
	type: 'post',
	data: {},
	success: function(){
	
	}
})
</script>
</body>
</html>