<% include common/header.ejs %>

<section class="col-md-12" id="articleBox">
    <h4>DEMO<tt class="fr">技术新Q群：435485569</tt></h4>
    <div class="demo col-md-5">
        <h5><a href="http://www.upopen.cn:8080">3D坦克大战V0.6</a></h5>
        <img src="/module/index/imgs/pic_tank.png">
        <p class="demoInfo">
            以threeJS框架为核心3D坦克大战，包含了坦克模型、行进、射击、雷达、分数统计、在线通信等功能，可通过角色选择在线对战
        </p>
    </div>
    <div class="demo col-md-5">
        <h5><a href="http://www.upopen.cn:8081">中国象棋 V0.2 - china chess</a></h5>
        <img src="/module/index/imgs/pic_chess.png">
        <p class="demoInfo">
            以css3 / js / canvas为支撑开发中国象棋，支持生成、常规规则，整个游戏没有使用图片，重点在棋子个性化属性制定
        </p>
    </div>
    <div class="demo col-md-4 hide">
        <h5><a href="http://www.upopen.cn:8082">跳棋 V0.1 - draughts</a></h5>
        <img src="/module/index/imgs/pic_draughts.png">
        <p class="demoInfo">
            使用 css3 和 js 开发的跳棋，重点在于棋子位置绘制及相互关系的计算，可选择多个玩家
        </p>
    </div>
	<h4 class="col-md-12"><a href="/article/list/nodejs">nodejs</a></h4><div class="col-md-4"><div class="item"><a class="title" href="/article/info/55b5c9eeb41f30c21c000001">公司项目NODEJS实践0.2[ express, ajax.. ]</a><div class="info"><span class="kind"><a href="#">nodejs</a></span><tt>/</tt><span class="author">小白</span><tt>/</tt><span class="date">2015-08-30</span></div><p class="description">##一、前言
⋅⋅⋅通过上节学习，我们已经ubuntu系统搭建了一个可以访问的nodejs系统，并做</p></div></div><div class="col-md-4"><div class="item"><a class="title" href="/article/info/55b5c696b0de58731a000001">公司项目NODEJS实践0.3[ mongo / session ...]</a><div class="info"><span class="kind"><a href="#">nodejs</a></span><tt>/</tt><span class="author">小白</span><tt>/</tt><span class="date">2015-07-27</span></div><p class="description">##一、前言

⋅⋅⋅书接上回，我们搭建了WEB服务端路由、模板等功能，完成了register 通过</p></div></div><div class="col-md-4"><div class="item"><a class="title" href="/article/info/55b1f40eb5d8faf227000001">NODEJS项目实践0.4 [domain,pm2,log4js,md5]</a><div class="info"><span class="kind"><a href="#">nodejs</a></span><tt>/</tt><span class="author">小白</span><tt>/</tt><span class="date">2015-07-24</span></div><p class="description">###一、前言

⋅⋅⋅上节我们基于mongo数据存取的操作，实现了用户注册、登录、退出功能，并应用</p></div></div><h4 class="col-md-12"><a href="/article/list/mongo">mongo</a></h4><div class="col-md-4"><div class="item"><a class="title" href="/article/info/55dc22025357cefa18000002">mongo use</a><div class="info"><span class="kind"><a href="#">mongo</a></span><tt>/</tt><span class="author">qwef</span><tt>/</tt><span class="date">2015-08-25</span></div><p class="description">qwef</p></div></div>
</section>
<% include common/footer.ejs %>
