/*******************************************
common
*******************************************/
html{
	height: 100%;
}

body{
	min-height: 100%;
	position: relative;
	background: url( /public/imgs/bg.png);
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.hided{
    display: none;
}

.alignR{
	text-align: right
}

.underline{
	text-decoration: underline;
}

.animal{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*******************************************
header
*******************************************/

.container .logo{
	margin-right: 30px;
}

.container .logo a{
	font-size: 30px;
	color: #fff;
}

footer{
    background: #202020;
    height: 150px;
    width: 100%;
}

.copyright{
	float: right;
	height: 50px;
	line-height: 50px;
	color: #afafaf;
}

/*******************************************
wrapper
*******************************************/
.wrapper{
    min-height: 700px;
    margin: 60px auto 10px;
    padding: 10px;
    background: #fff;
}

.slider dt{
    font-size: 16px;
    line-height: 3em;
    font-weight: normal;
}

.slider dd{
    line-height: 2em;
}


/*****************************/
.markdown p{
	text-indent: 2em;
}
