<% include ../common/header.ejs %>

<div class="jumbotron">
  <h1 class="infoname">Hi! </h1>
  <p>...</p>
  <p>we are buinding, there will be ok, next week.</p>
</div>

<% include ../common/footer.ejs %>
