h1{
    border-bottom: 1px solid #C7BBB2;
}

.articleInfo{
	background: #fff;
	width: 730px;
	border-right: 1px solid #c4c4c4;
	min-height: 200px;
}

.articleInfo_title{
	font-size: 24px;
	text-align: center;
	line-height: 3;
}

.articleInfo_date{
	float: right;
	padding: 0 15px;
	color: #b2b2b2;
	line-height: 1;
	border-left: 1px solid #ddd;
}

.articleInfo_kind{
    float: right;
	padding: 0 15px;
	color: #b2b2b2;
	line-height: 1;
	border-left: 1px solid #ddd;
}

.articleInfo_author{
	float: right;
	color: #b2b2b2;
	line-height: 1;
	padding-right: 15px;
}

/******************************/
.talkBox{
    margin-top: 20px;
}
.talkItem{
    margin: 20px 10px;
    padding: 20px  40px;
    position: relative;
    border-top: 1px solid #e2e2e2;
    
}
.talkItem .talkNum{
    position: absolute;
    left: 0px;
    top: 12px;
    font-size: 24px;
    width: 40px;
    text-align: center;
}

.talkItem .talkHeader{
    line-height: 30px;
}

.talkItem .talkName{
    font-size: 16px;
    margin-right: 10px;
}

.talkItem .talkDate{
    margin-left: 10px;
}

.talkItem .talkContent{
    line-height: 24px;
}
