<% include ../common/header.ejs %>
<div class="container clearfix">
	<div id="kindBox" class="kindBox">
		
	</div>
	<form id="addKind">
		<label>名称<input type="text" id="name" /></label><br />
		<label>索引<input type="text" id="index" /></label><br />
		<label>数量<input type="text" id="amount" /></label><br />
		<label>排序<input type="text" id="sort" /></label><br />
		<label>禁用<input type="checkbox" id="disabled" /></label><br />
		<button type="submit" value="提交" >提交</button>
	</form>
</div>
<% include ../common/footer.ejs %>
