<% include ../common/header.ejs %>

<section class="col-md-10" id="articleBox">
    <h3 class="crumbs"><a href="/manage/edit">新增文章</a></h3>
	<h3 class="crumbs"><button type="button" id="issue">发布</button></h3>
</section>

<% include ../common/footer.ejs %>
